<nz-card style="width:35%;float: left;" class="chat-talk">
  <ng-template #title>
    <div class="right">
      <i class="slide"></i>
      <i class="friends"></i>
      <i class="close"></i>
    </div>
    Direct Chat
    <nz-tooltip [nzTitle]="'3 new messages'">
      <nz-badge [nzCount]="3" nz-tooltip class="messages"></nz-badge>
    </nz-tooltip>
  </ng-template>
  <ng-template #body>
    <div class="chat-content">
      <ul class="chat-list" #list>
        <li class="talk" *ngFor="let item of chatList;" [class.talk-right]="item.direction =='right'" >
          <p><span class="name">{{item.name}}</span>{{item.date}}</p>
          <div>
            <img [src]="item.img" alt="">
            <p>
              {{item.message}}
              <i class="anticon" [class.anticon-caret-left]="item.direction =='right'" [class.anticon-caret-right]="item.direction =='right'"></i>
            </p>
          </div>
        </li>
      </ul>
      <div class="send-mess">
          <nz-input [(ngModel)]="message" [nzPlaceHolder]="'Type Message'" [nzSize]="'large'">
              <ng-template #addOnAfter >
                <span class="send" (click)="sendMess(list)">Send</span>
              </ng-template> 
          </nz-input>
          <nz-alert [nzType]="'warning'" *ngIf="warn" >
            <span alert-body>
              <pre>please input the message first</pre>
            </span>
          </nz-alert>
      </div>
    </div>
  </ng-template>
</nz-card>
