<div style="padding: 15px;">
  <header>
    <nz-breadcrumb style="float: right;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-home"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a href=""><span>Home</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a href="">Main</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <p><span>Company</span>Version 1.0</p>
  </header>
  <ul class="type">
    <li class="cpu">
      <div>
        <span><i class="anticon anticon-setting"></i></span>
        <p>CPU TRAFFIC</p>
        <p>90%</p>
      </div>
    </li>
    <li class="likes">
      <div>
        <span><i class="anticon anticon-heart"></i></span>
        <p>LIKES</p>
        <p>41,410</p>
      </div>
    </li>
    <li class="sales">
      <div>
        <span><i class="anticon anticon-shopping-cart"></i></span>
        <p>SALES</p>
        <p>760</p>
      </div>
    </li>
    <li class="new">
      <div>
        <span><i class="anticon anticon-user-add"></i></span>
        <p>NEW MEMBERS</p>
        <p>2,000</p>
      </div>
    </li>
  </ul>
</div>

